* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(83, 83, 238);
  color: aliceblue;
  font-size: 15px;
}

.header-container a {
  text-decoration: none;
  color: aliceblue;
}

.header-items {
  display: flex;
  gap: 25px;
}

.header-items li {
  display: flex;
  align-items: center;
  cursor: pointer;
  list-style: none;
  margin-right: 20px;
}

.header-items a {
  text-decoration: none;
  color: aliceblue;
}

ul {
  margin-bottom: 0px;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 2rem;
  margin-top: 1rem;
}

.card {
  padding: 25px;
}

.pointer {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
.product-size {
  height: 190px;
  width: 152px;
}
.font-bold {
  font-weight: 500;
}
.text-hiding {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.font-size-12 {
  font-size: 12px;
}
.cart-product-size {
  height: 140px;
  width: 120px;
}
.increment-button {
  height: 20px;
  width: 20px;
}
.count {
  padding: 2px 9px;
}

.right {
  right: 10%;
}
